<apex:page controller="KimbleOne.InvoicePrintController" showHeader="false" sidebar="false" language="{!invoice.KimbleOne__Locale__r.KimbleOne__LanguageCode__c}" renderAs="{!IF($CurrentPage.parameters.renderAs=='html','html','pdf')}">

<apex:stylesheet value="{!URLFOR($Resource.KimbleOne__PdfHeaderFooterStyle, 'PdfHeaderFooterStyle-A4.css')}"/>

<KimbleOne:InvoicePrintHeader TheInvoice="{!invoice}" showLogo="{!invoice.KimbleOne__InvoiceTemplate__r.KimbleOne__ShowLogo__c}" logoUrl="{!documentUrl}" showFooter="{!invoice.KimbleOne__InvoiceTemplate__r.KimbleOne__ShowFooter__c}" showPageNumbers="{!invoice.KimbleOne__InvoiceTemplate__r.KimbleOne__ShowPageNumbers__c}"/>
 
<html>
    <body>
        <br/>           
        <div id="invoicePrintAddressT2Container">
            <KimbleOne:InvoicePrintAddressT2 TheInvoice="{!invoice}" FromAddress="{!fromAddress}" FromAddressStyle="{!fromAddressStyle}" ToAddress="{!toAddress}" ToAddressStyle="{!toAddressStyle}" customerReference="{!customerReference}" showAccountTaxReference="false"/>
        </div>
        <br/>
        <div id="invoicePrintBodyContainer">
            <KimbleOne:InvoicePrintBody TheInvoice="{!invoice}" TheInvoiceSections="{!TheSectionsAndLines}" showTotalAsSumOfLines="True" showAsTabularFormat="{!invoice.KimbleOne__InvoiceFormat__r.KimbleOne__ShowTimeInTabularFormat__c}" showLineNumbers="{!invoice.KimbleOne__InvoiceTemplate__r.KimbleOne__ShowInvoiceLineNumbers__c}" />
        </div>
        <br/>
        <div id="invoicePrintFooterContainer">
            <KimbleOne:InvoicePrintFooter TheInvoice="{!invoice}" showPaymentTerms="true" showBankDetails="true"/>
        </div>      
    </body>
</html>
</apex:page>